<html>
    <head>
        <title>Django noob blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django noob Blog</a></h1>
        </div>

        <div>
            <p>published: 23.09.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Американская корпорация Google является крупнейшим в мире поставщиком программного обеспечения, потому как ее сервисами пользуются миллиарды людей ежедневно. Впрочем, останавливаться на достигнутом «поисковой гиганта» не собирается, что он ясно дал понять еще несколько лет назад. Компания активно создает различные гаджеты, призванные упростить жизнь людей, тем самым сделав ее лучше. Как удалось выяснить сегодня, инженеры этой компании создали революционное устройство для смартфонов, которое называется Pixel Stand.</p>
        </div>

        <div>
            <p>published: 23.09.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Каждый раз, когда Google выпускает что-то на рынок, она мотивирует других производителей поступать также. Когда в телефонах Pixel 3 и Pixel 3 XL появится беспроводная зарядка, точно такая же особенность сразу же появится во флагманах от других брендов. Более того, выпустив станцию Pixel Stand, «поисковой гигант» запустит массовое создание и выпуск подобных гаджетов, тем самым произведя революцию на рынке. Затем, в будущем, поддержка Qi будет появляться в телефонах из начальной и средней ценовой категорий.</p>
        </div>
    </body>
</html>